@media (max-width: 75em) {
  /* *****1200px***** */
  html {
    font-size: 56.25%;
  }

  .paragraph-text {
    width: 90%;
  }
}

@media (max-width: 59em) {
  /* *****944px***** */
  html {
    font-size: 50%;
  }

  .header {
    backdrop-filter: none;
    background-color: #eee;
  }

  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
    background-color: rgba(38, 37, 37, 0.557);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 200;
    transition: all 0.3s ease-out;
  }

  .show-mobile-nav {
    opacity: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: all;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
  }

  .main-blog-link {
    font-size: 3rem;
    color: white !important;
  }

  .contact::before,
  .contact::after {
    top: -11%;
    right: -5.5%;
    height: calc(100% + 1rem);
    width: calc(100% + 1rem);
  }

  .section-active {
    border-bottom: solid 0.4rem rgba(246, 185, 255, 0.654);
  }

  .btn-mobile-nav {
    display: block;
    pointer-events: all;
    visibility: visible;
  }

  .blog-img-portrait {
    height: 60%;
    width: 60%;
  }

  #footer .main-blog-link:link,
  #footer .main-blog-link:visited {
    font-size: 1.2rem;
    color: #333 !important;
    text-decoration: underline;
  }

  .footer-link:link,
  .footer-link:visited {
    text-decoration: underline;
  }
}

@media (max-width: 44em) {
  /* *****704px***** */
  .paragraph-text {
    width: 95%;
  }
}

@media (max-width: 34em) {
  /* *****544px***** */

  .heading-primary {
    width: 100%;
    text-align: center;
  }

  .blog-img-portrait {
    height: 90%;
    width: 90%;
  }
}

@media (max-width: 28.625em) {
  /* *****458***** */

  .main-blog-link {
    font-size: 2.6rem;
  }

  .container {
    padding: 8rem 2rem 6rem 2rem;
  }

  .paragraph-text {
    width: 100%;
  }
}
