* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Monsterrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  background-color: #eee;
}

::selection {
  background: rgba(194, 126, 204, 0.405);
}

.header {
  position: fixed;
  background-color: rgba(238, 238, 238, 0.488);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  padding: 0 3.2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.section-active {
  border-bottom: solid 0.4rem rgba(194, 126, 204, 0.404);
  transform: translateY(0.1rem);
}

.logo {
  width: 10rem;
  height: 7.4rem;
  margin-top: 0.4rem;
  margin-left: -2.4rem;
}

.main-nav {
  align-self: center;
}

.main-nav-list {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.main-blog-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: lighter;
  color: #333333;
}

.main-blog-link:link,
.main-blog-link:visited {
  display: inline-block;
  font-weight: 500;
  color: #333333;
}

.contact {
  position: relative;
  border-radius: 0.5rem;
  color: white;
  background-color: #333;
  border: solid 0.1rem #333;
  box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.15);
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.contact:link {
  color: white;
  letter-spacing: 0.1rem;
}

.contact:visited {
  color: white;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.1rem white;
  box-shadow: 0 0 0 0;
  overflow: hidden;
}

.contact::before,
.contact::after {
  position: absolute;
  content: "";
  border-radius: 0.5rem;
  top: -11.5%;
  right: -6.5%;
  /* height: 2.6rem; */
  /* width: 6rem; */
  height: calc(100% + 0.6rem);
  width: calc(100% + 0.6rem);
  background: linear-gradient(
    -45deg,
    #7bcfc7,
    #c27ecc,
    #e53bff,
    #59e9ff,
    #7bcfc7,
    #7bcfc7
  );
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  background-size: 400%;
  z-index: -1;
  transition: all 0.3s;
  animation: contact-btn 25s linear infinite;
}

.contact::before:hover,
.contact::after:hover {
  transition: all 0.3s;
}

@keyframes contact-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.mobile-nav-wrapper {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 300;
}

.btn-mobile-nav {
  position: relative;
  height: 4rem;
  width: 4rem;
  background-color: #333;
  /* border: 0.1rem solid #333; */
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.top-nav-line,
.bottom-nav-line {
  content: "";
  position: absolute;
  background-color: white;
  height: 0.3rem;
  width: 2.4rem;
  border-radius: 0.5rem;
}

.top-nav-line {
  top: 1.3rem;
  left: 0.75rem;
  transition: all 0.3s;
}

.bottom-nav-line {
  top: 2.3rem;
  left: 0.75rem;
  transition: all 0.3s;
}

.top-nav-line-animation {
  animation: top-nav-line 0.3s ease-out forwards;
}

.bottom-nav-line-animation {
  animation: bottom-nav-line 0.3s ease-out forwards;
}

.close-top-nav-line-animation {
  animation: close-top-nav-line 0.3s ease-out forwards;
}

.close-bottom-nav-line-animation {
  animation: close-bottom-nav-line 0.3s ease-out forwards;
}

@keyframes top-nav-line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translatex(0.1rem) translateY(0.5rem) rotate(45deg);
  }
}

@keyframes bottom-nav-line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translatex(0.1rem) translateY(-0.5rem) rotate(-45deg);
  }
}

@keyframes close-top-nav-line {
  0% {
    transform: translatex(0.1rem) translateY(0.5rem) rotate(45deg);
  }
  100% {
    transform: translatex(0rem) translateY(0rem) rotate(0deg);
  }
}

@keyframes close-bottom-nav-line {
  0% {
    transform: translatex(0.1rem) translateY(-0.5rem) rotate(-45deg);
  }
  100% {
    transform: translatex(0rem) translateY(0rem) rotate(0deg);
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding: 8rem 4rem 6rem 4rem;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 4rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 4rem;
}

.section .container .heading-secondary {
  margin: 2rem 0 1rem 0;
  width: auto;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-img {
  height: 80%;
  width: 80%;
  border: solid 0.4rem rgb(209, 209, 209);
  margin: 3rem 0 6rem 0;
}

.portrait-img-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 70%;
  width: 70%;
}

.blog-img-portrait {
  height: 30%;
  width: 30%;
  border: solid 0.4rem rgb(209, 209, 209);
  margin: 3rem 0 6rem 0;
}

.paragraph-text {
  width: 80%;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

#p1 {
  grid-column: 1;
  grid-row: 1;
}

#p2 {
  grid-column: 1;
  grid-row: 2;
}

#p3 {
  grid-column: 1;
  grid-row: 3;
}

#p4 {
  grid-column: 1;
  grid-row: 4;
}

#img-1 {
  grid-column: 2;
  grid-row: 1;
}

#img-2 {
  grid-column: 2;
  grid-row: 2;
}

#img-3 {
  grid-column: 2;
  grid-row: 3;
}

#img-4 {
  grid-column: 2;
  grid-row: 4;
}

#footer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 15vh;
  border-top: 0.2rem solid rgba(194, 126, 204, 0.405);
  /* overflow: hidden; */
}

#footer .main-blog-link:link,
#footer .main-blog-link:visited {
  text-decoration: underline;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: underline !important;
}

.return-to-top {
  position: absolute;
  top: -3rem;
  left: 48%;
  height: 6rem;
  width: 6rem;
  background-color: #eee;
  border: 0.2rem solid rgba(194, 126, 204, 0.405);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.return-to-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  background-color: #eee;
  border-bottom-right-radius: 50%;
  height: 70%;
  width: calc(100% + 1rem);
  pointer-events: none;
  z-index: -1;
}

#up-arrow {
  stroke: #333;
  height: 3rem;
  width: 3rem;
  margin: 0.4rem 0 1rem 1.3rem;
  z-index: 4;
}

.footer-text {
  font-size: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #333;
}

.footer-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  gap: 1rem;
}

.footer-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  width: 10rem;
  margin-left: 3rem;
  gap: 1rem;
}

.footer-col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  gap: 1rem;
}

.footer-col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 15rem;
  gap: 1rem;
}
