@media (min-width: 100em) {
  /* *****1600px***** */
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-text-box .heading-primary,
  .hero-text-box .heading-secondary {
    width: 100%;
    text-align: center;
  }

  .hero-description {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero-line {
    /* justify-self: center; */
    margin: 2rem auto;
  }
}

@media (max-width: 84em) {
  /* *****1344px***** */
  .hero-text-box {
    justify-items: flex-end;
  }

  .hero-text-box .heading-primary {
    width: 50%;
  }

  .hero-links-container {
    transform: scale(0.9);
  }

  .section-timeline .section-title {
    font-size: 14rem;
  }
}

@media (max-width: 75em) {
  /* *****1200px***** */
  html {
    font-size: 56.25%;
  }

  .hero-container {
    justify-items: flex-end;
  }

  .hero-links-container {
    justify-content: center;
  }

  .section-hero .heading-secondary {
    width: 100%;
  }

  .hero-description {
    width: 100%;
  }

  .section-title {
    font-size: 16rem;
  }

  .section-timeline .section-title {
    font-size: 12rem;
  }

  .card-style {
    width: 48rem;
    height: 32rem;
  }

  .project-description {
    align-self: center;
    margin: 0;
    /* width: 120%; */
  }

  .paragraph-text {
    width: 100%;
  }

  .tech-container {
    width: 100%;
  }

  /* .btn-toolkit-container {
    width: 6rem;
  } */
}

@media (max-width: 67.5em) {
  .hero-links-container {
    flex-direction: column;
  }
}

@media (max-width: 59em) {
  /* *****944px***** */
  html {
    font-size: 50%;
  }

  .header {
    backdrop-filter: none;
    background-color: #eee;
  }

  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
    background-color: rgba(38, 37, 37, 0.557);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 200;
    transition: all 0.3s ease-out;
  }

  .show-mobile-nav {
    opacity: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: all;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
  }

  .main-nav-link {
    font-size: 3rem;
    color: white !important;
  }

  .contact::before,
  .contact::after {
    top: -11%;
    right: -5.5%;
    height: calc(100% + 1rem);
    width: calc(100% + 1rem);
  }

  .section-active {
    border-bottom: solid 0.4rem rgba(246, 185, 255, 0.654);
  }

  .btn-mobile-nav {
    display: block;
    pointer-events: all;
    visibility: visible;
  }

  .section-hero {
    height: 85vh;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-line {
    align-self: center;
  }

  .hero-text-box .heading-primary {
    width: 100%;
  }

  .hero-text-box .heading-secondary {
    text-align: center;
    width: 100%;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-description {
    text-align: center;
    width: 100%;
  }

  .hero-links-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }

  .break-lines {
    height: 10rem;
  }

  .section-title {
    font-size: 13rem;
  }

  .section-projects .section-title {
    margin-bottom: 0rem;
  }

  .section-timeline .section-title {
    font-size: 9.5rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8rem 4rem;
    gap: 6rem;
  }

  .card-style {
    width: 54rem;
    height: 36rem;
  }

  .section-projects .heading-secondary {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .section-projects .paragraph-text {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .tech-container {
    display: flex;
    flex-direction: column;
  }

  .tech-icon-container {
    margin-top: 1rem;
    justify-content: space-between;
    width: 100%;
  }

  #footer .main-nav-link {
    font-size: 1.2rem;
  }

  #footer .main-nav-link:link,
  #footer .main-nav-link:visited {
    color: #333 !important;
  }
}

@media (max-width: 44em) {
  /* *****704px***** */

  .section-title {
    font-size: 9rem;
  }

  .section-timeline .section-title {
    letter-spacing: 1rem;
  }

  .tech-container {
    padding: 0 0 0.6rem 0;
    margin-bottom: 2rem;
  }

  .section-about .heading-secondary {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-overview {
    width: 80%;
  }

  #about-section {
    padding: 0;
  }

  .about-photo {
    height: auto;
    width: 50%;
    z-index: 1;
  }
}

@media (max-width: 34em) {
  /* *****544px***** */

  .main-nav {
    width: 50%;
  }

  .section-hero {
    height: 90vh;
  }

  .hero-text-box .heading-primary {
    width: 100%;
  }

  .hero-text-box .heading-secondary {
    width: 65%;
  }

  .hero-description {
    width: 100%;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-container .btn {
    height: 80%;
    width: 95.5%;
  }

  .resume-container {
    width: 60%;
  }

  .resume-container::before {
    right: -5rem;
  }

  .hero-links-container {
    flex-direction: column;
  }

  .section-title {
    font-size: 7rem;
  }

  .section-timeline .section-title {
    font-size: 5rem;
    padding: 6rem 0;
  }

  .section-about .container {
    padding: 0;
  }

  .cards {
    padding: 8rem 0rem;
  }

  .card-style {
    width: 42rem;
    height: 28rem;
  }

  .timeline-date {
    font-size: 2.6rem;
  }

  .timeline-company {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .timeline-role {
    font-size: 1.6rem;
  }
}

@media (max-width: 28.625em) {
  /* *****458***** */

  .main-nav-link {
    font-size: 2.6rem;
  }

  .hero-text-box {
    justify-content: center;
  }

  .section-hero .heading-primary {
    text-align: center;
    width: 100%;
  }

  .section-hero .heading-secondary {
    text-align: center;
    width: 100%;
  }

  .hero-description {
    text-align: center;
    width: 100%;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four,
  .card-five {
    width: 90%;
    background-size: cover;
    background-position: center top;
  }

  .card-text {
    width: 90%;
  }

  .section-projects .section-title {
    letter-spacing: 0.6rem;
  }

  .section-timeline .section-title {
    letter-spacing: 0.6rem;
  }

  .section-contact .section-title {
    letter-spacing: 1rem;
  }

  .tech-icon-container {
    gap: 1rem;
  }

  .tech-icon {
    height: 4rem;
    width: 4rem;
  }
}
