.section-blog {
  display: block;
}

.blog-container {
  display: flex;
  margin: 0 auto;
  width: 48vw;
  height: 75vh;
}

.blog {
  width: 33%;
  height: 100%;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
}

.blog:hover {
  opacity: 1;
}

.blog:nth-child(1) {
  background: url(/img/jzp-thumb.webp);
}

.blog:nth-child(2) {
  background: url(/img/zarcom-thumb.webp);
}

.blog:nth-child(3) {
  background: url(/img/jzp-thumb.webp);
}
