* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Monsterrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  background-color: #eee;
}

::selection {
  background: rgba(194, 126, 204, 0.405);
}

.container {
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: rgba(238, 238, 238, 0.488);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  padding: 0 3.2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.section-active {
  border-bottom: solid 0.4rem rgba(194, 126, 204, 0.405);
}

.logo {
  width: 10rem;
  height: 7.4rem;
  margin-top: 0.4rem;
  margin-left: -2.4rem;
}

.main-nav {
  align-self: center;
}

.main-nav-list {
  list-style: none;
  /* margin-top: 2.4rem; */
  letter-spacing: 0.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
}

.main-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: lighter;
  color: #333333;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  color: #333333;
}

.contact {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #333;
  border: solid 0.1rem #333;
  box-shadow: 0 0 5px 2px rgba(51, 51, 51, 0.15);
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid 0.1rem white;
  box-shadow: 0 0 0 0;
  overflow: hidden;
}

.contact::before,
.contact::after {
  position: absolute;
  content: "";
  border-radius: 0.5rem;
  top: -11.5%;
  right: -6.5%;
  /* height: 2.6rem; */
  /* width: 6rem; */
  height: calc(100% + 0.6rem);
  width: calc(100% + 0.6rem);
  background: linear-gradient(
    -45deg,
    #7bcfc7,
    #c27ecc,
    #e53bff,
    #59e9ff,
    #7bcfc7,
    #7bcfc7
  );
  filter: blur(0.5rem);
  background-size: 400%;
  z-index: -1;
  animation: contact-btn 25s linear infinite;
}

@keyframes contact-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* .main-nav-list::after {
  content: " ";
  position: absolute;
  transform: translate(100%, 0);
  background-color: rgba(194, 126, 204, 0.405);
  height: 10rem;
  width: 20rem;
} */

/* ******HERO SECTION******* */

/* .hero-main-break::after {
  content: " ";
  position: absolute;
  transform: translate(300%, 0);
  background-color: rgba(194, 126, 204, 0.405);
  /* background-image: linear-gradient(
    to right,
    rgba(194, 126, 204, 0),
    rgba(194, 126, 204, 0.197),
    rgba(194, 126, 204, 0.405)
  /* );* 
  height: 53.1rem;
  width: 36rem;
} */

.section-title {
  display: flex;
  justify-content: center;
  font-size: 18rem;
  letter-spacing: 2rem;
  color: #333;
  font-weight: 800;
  opacity: 0;
  /* margin-top: 20rem; */
  /* margin-bottom: 4rem; */
}

.title-animation {
  animation: title-animation 2.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translatex(3rem);
  }
  25% {
    opacity: 1;
    transform: translatex(0rem);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.section-hero {
  height: 80vh;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 24rem 0rem 4rem 0rem;
}

.hero-links-container {
  display: flex;
  gap: 2rem;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}

.hero-line {
  background-color: rgba(194, 126, 204, 0.405);
  height: 0.4rem;
  width: 6.6rem;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.hero-text-box {
  align-self: center;
}

.hero-text-box:hover .hero-line {
  width: 26rem;
}

.hero-description {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

.resume-container {
  align-self: center;
  display: grid;
  place-items: center;
  position: relative;
  width: 25rem;
  height: 6.5rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, #7bcfc7, #c27ecc);
  overflow: hidden;
}

.resume-container::before {
  content: "";
  position: absolute;
  width: 45rem;
  height: 1.2rem;
  top: 0;
  right: -7.5rem;
  transition: all 2s;
  background: rgb(105, 250, 212);
  transform: rotate(-45deg) translate(0, -10rem);
}

.resume {
  display: grid;
  align-self: center;
  place-items: center;
  width: 24rem;
  height: 5.5rem;
  /* letter-spacing: 0.3rem; */
  background: linear-gradient(45deg, #242424 18rem, #333333 2rem);
  border-radius: 0.8rem;
  z-index: 1;
  color: rgba(223, 222, 222, 0.601);
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resume:hover {
  color: #eee;
}

.resume-container:hover::before {
  animation: resumeEffect 2s;
}

@keyframes resumeEffect {
  100% {
    transform: rotate(-25deg) translate(0, 45rem);
  }
}

.resume-text {
  font-size: 2rem;
}

.hero-btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}
.css-btn {
  background-color: #eee;
  border: 0.2rem solid #1d0933;
}
.dark-btn {
  background-color: #1d0933;
  color: #eee;
  border: 0.2rem solid #1d0933;
}

.dark-btn:hover {
  background-color: #451775;
  color: #eee;
  border-color: #451775;
}
.css-btn:hover {
  background-color: rgba(203, 155, 211, 0.199);
}

.hero-break {
  background-color: rgba(194, 126, 204, 0.405);
  /* background-image: linear-gradient(
    to left,
    rgba(194, 126, 204, 0),
    rgba(194, 126, 204, 0.405)
  ); */

  width: 100vw;
  margin-bottom: 12rem;
}

.break-1 {
  margin-top: 4rem;
  height: 0.4rem;
  margin-bottom: 0.4rem;
}

.break-2 {
  height: 0.6rem;
  margin-bottom: 0.4rem;
}

.break-3 {
  height: 0.8rem;
  /* margin-bottom: 0.8rem; */
  position: relative;
}

/* .break-3::after {
  content: " ";
  position: absolute;
  transform: translate(100%, 0);
  background-color: rgba(194, 126, 204, 0.405);
  height: 10rem;
  width: 20rem;
} */

/* ******CARDS****** */

.section-projects {
  /* background-color: #eee; */
  /* padding-top: 20rem; */
  transition: all 0.3s;
  /* background: linear-gradient(
    rgba(194, 126, 204, 0.405) 2rem,
    rgba(194, 126, 204, 0.136) 18rem
  ); */
}

.project {
  opacity: 0.3;
  transition: all 0.3s;
}

.current-project {
  opacity: 1;
}

.current-card {
  background-color: rgb(251, 251, 251);
  transition: all 0.5s;
}

.cards {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 12rem;
  column-gap: 4rem;
  padding: 12rem 4rem;
  transition: all 0.3s;
  /* ^^DELETE THIS LATER^^ */
}

.card-style {
  position: relative;
  text-align: center;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  color: rgba(255, 255, 255, 0);
  justify-items: center;
  height: 36rem;
  width: 54rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.project-description {
  align-self: center;
  margin-left: 8rem;
  margin-right: 0;
}

.project-description .heading-secondary {
  /* text-align: center; */
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.paragraph-text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 300;
  width: 85%;
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.learn-more {
  font-size: 1.6rem;
  font-weight: 300;
  transition: all 0.3s;
}

.learn-more:link,
.learn-more:visited {
  color: inherit;
}

.card-one {
  background-image: url(img/jzp-thumb.webp);
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  background-repeat: no-repeat;
  /* margin-bottom: 6rem; */
}

.card-one:hover {
  color: white;
  background-image: linear-gradient(to bottom, #5b5b5b80, #2727277b),
    url(img/jzp-thumb.webp);
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.2);
  /* transform: scale(10%); */
  transform: scale(1.05, 1.05);
}

.card-two {
  background-image: url(img/weather-app.png);
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  background-repeat: no-repeat;
  /* margin-bottom: 6rem; */
}

.card-two:hover {
  color: white;
  background-image: linear-gradient(to bottom, #5b5b5b80, #2727277b),
    url(img/weather-app.png);
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.2);
  /* transform: scale(10%); */
  transform: scale(1.05, 1.05);
}

.card-three {
  background-image: url(img/zarcom-thumb.webp);
  box-shadow: 0 6px 5px 2px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-three:hover {
  color: white;
  background-image: linear-gradient(to bottom, #5b5b5b80, #2727277b),
    url(img/zarcom-thumb.webp);
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.2);
  /* transform: scale(10%); */
  transform: scale(1.05, 1.05);
}

.card-title {
  font-size: 2.2rem;
  align-self: flex-end;
  font-weight: 700;
  /* opacity: 10%; */
  margin-bottom: 2rem;
  transition: all 0.3s;
  /* transition-timing-function: ease-out; */
  /* transition-timing-function: ease-out; */
}

.card-text {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0%;
  align-self: flex-start;
  justify-self: center;
  margin-top: 3rem;
  /* transition-timing-function: ease-out; */
  transition: all 0.3s;
}

.card-style:hover .card-text {
  opacity: 100%;
  margin-top: 0rem;
}

.card-style:hover .card-title {
  margin-bottom: 0rem;
  /* backdrop-filter: blur(2px); */
}

.card-btn {
  border: none;
  font-family: inherit;
  text-decoration: none;
  font-weight: lighter;
  opacity: 0%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: 2px solid white;
  background-color: none;
  color: white;
  padding: 1rem 2rem;
  /* border-radius: 1rem; */
  transition: all 0.3s;
}

.card-style:hover .card-btn {
  opacity: 100%;
}

/* ******TECHNOLOGIES****** */

.section-technologies {
  /* height: 50vh; */
  display: block;
  /* background: linear-gradient(
    to right,
    rgba(194, 126, 204, 0.136) 49.4rem,
    #eee 2rem
  ); */
  background: #eee;
  padding-bottom: 8rem;
}

.section-technologies .section-title {
  font-size: 14rem;
  padding-bottom: 8rem;
}

.section-technologies .heading-secondary {
  text-align: center;
}

.tech-container {
  justify-content: center;
  padding: 4rem;
  display: flex;
  gap: 2rem;
  /* margin-bottom: 8rem; */
}

.tech-icon {
  height: 7rem;
  width: 7rem;
}

/* *****TIMELINE***** */

.section-timeline {
  background-color: white;
  margin-bottom: 12rem;
}

.section-timeline .section-title {
  padding: 12rem 0;
  font-size: 15rem;
}

.timeline-line {
  /* margin: 0 auto; */
  /* margin-left: 6rem; */
  height: 2rem;
  background: linear-gradient(to right, #98fff5, #f29dff, #a47dff);
  /* margin-bottom: 4rem; */
  opacity: 0;
}

.timeline-animation {
  opacity: 1;
  animation: timeline 3s linear;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}

@keyframes timeline {
  0% {
    width: 0rem;
  }
  50% {
    width: 50vw;
  }
  100% {
    width: 100vw;
  }
}

.timeline-data-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.timeline-info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 12rem;
}

.timeline-tick {
  background-color: #333333;
  height: 4rem;
  width: 0.4rem;
  align-self: center;
}

.timeline-date,
.timeline-company,
.timeline-role {
  text-align: center;
}

.timeline-date {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.timeline-company {
  font-size: 2.2rem;
}

.timeline-role {
  font-size: 1.6rem;
}

@keyframes timeline-data {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#job-1,
#job-2,
#job-3 {
  opacity: 0;
}

.job-1-animation {
  animation: timeline-data 0.5s ease-out 0.5s;
  animation-fill-mode: forwards;
}

.job-2-animation {
  animation: timeline-data 0.5s ease-out 1.5s;
  animation-fill-mode: forwards;
}

.job-3-animation {
  animation: timeline-data 0.5s ease-out 2.5s;
  animation-fill-mode: forwards;
}

/* *****ABOUT***** */

.section-about .heading-secondary {
  margin-bottom: 2rem;
}

.section-about .section-title {
  margin: 6rem 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;
}

.about-text-container {
  width: 60%;
}

.about-photo {
  height: 99%;
  width: 33%;
  /* padding: 4rem 0; */
}

/* *****CONTACT***** */

.contact-container {
  display: block;
  margin-bottom: 12rem;
  /* width: 60%; */
  /* padding: 0 6rem 4rem 6rem; */
}

.section-contact .section-title {
  margin-bottom: 6rem;
}

.contact-text-box {
  /* width: 40%; */
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.contact-form {
  display: block;
  color: #333;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(170, 170, 170, 0.521);
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1.2rem 0 1.2rem 0;
}

.contact-form input {
  width: 35%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
  color: inherit;
}

.contact-form input::placeholder {
  color: #aaa;
}

textarea {
  font-family: inherit;
  resize: vertical;
  width: 40%;
  min-height: 15rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
  color: inherit;
}

.message label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-btn[type="submit"] {
  font-family: inherit;
  font-size: 1.6;
  height: 4rem;
  width: 12rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #333;
  color: #eee;
  grid-column: 1;
  grid-row: 3;
}

#status {
  margin: 0 auto;
  width: 40rem;
  padding: 1.6rem 1rem 1.6rem 1rem;
  text-align: center;
  font-size: 1.6rem;
}
